@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* Preventing certain elements from using their default border/bg styles */
form, input, textarea, table, button, select, optgroup, option {
    font: inherit;
    color: inherit;
    background: transparent;
}

/* Main style */
body {
    font: bold 12px/18px 'Indie Flower';
}

#wrapper {
    width: 250px;
    margin: 10px;
    border: 1px solid #000;
}

#wrapper div {
    padding: 5px;
}

input {
    padding: 5px;
}

li input, li span {
    margin-left: 5px;
}

li input:first-child {
    margin-left: 0;
}

.insert {
    border-bottom: 1px solid #ccc;
}

#input-text {
    width: 200px;
}

.marked {
    text-decoration: line-through;
}

.hide-button {
    border-top: 1px solid #ccc;
}